.container {
  margin-top: 30px;
}

form button {
  margin-top: 1rem
}

form input.ng-touched.ng-invalid,
form select.ng-touched.ng-invalid {
  background-color: rgb(226, 190, 190);
  border: red thin solid;
}
